In [1]:
# Step 1: Upload required files: "requirements.txt , sample220P.db"
# from google.colab import files
# uploaded = files.upload()

# The files uploaded will be available in the Colab environment

In [2]:
# Step 2: Install required packages
!pip install -r requirements.txt

Requirement already satisfied: dbis-relational-algebra==1.1.5 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (1.1.5)
Requirement already satisfied: docstring-inheritance==2.0.2 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (2.0.2)
Requirement already satisfied: gradescope-utils==0.5.0 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (0.5.0)
Requirement already satisfied: numpy==1.26.1 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (1.26.1)
Requirement already satisfied: pandas==2.1.1 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 5)) (2.1.1)
Requirement already satisfied: python-dateutil==2.8.2 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 6)) (2.8.2)
Requirement already satisfied: pytz==2023.3.post1 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 7)) (2023.3.post1)
Requirement already satisfied: six==1.16.0 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 8)) (1.16.0)
Requirement already satisfied: typeguard==4.1.5 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 9)) (4.1.5)
Requirement already satisfied: typing_extensions==4.8.0 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 10)) (4.8.0)
Requirement already satisfied: tzdata==2023.3 in c:\users\harit\anaconda3\lib\site-packages (from -r requirements.txt (line 11)) (2023.3)

In [3]:
# Step 3: Import your expressions
from assign_expressions import Expressions

{('Brown University',), ('University of Virginia',), ('Duke University',), ('Vanderbilt University',), ('University of Southern California',), ('California Institute of Technology',), ('Yale University',), ('Columbia University',), ('University of Notre Dame',), ('Princeton University',), ('University of California, San Diego',), ('University of California, Davis',), ('Stanford University',), ('University of California, Berkeley',), ('Massachusetts Institute of Technology',), ('Georgetown University',), ('University of Florida',), ('Dartmouth College',), ('University of Texas at Austin',), ('University of California, Los Angeles',), ('Cornell University',), ('Carnegie Mellon University',), ('Emory University',), ('University of North Carolina at Chapel Hill',), ('University of Chicago',), ('University of Pennsylvania',), ('Johns Hopkins University',), ('Washington University in St. Louis',), ('Harvard University',), ('Northwestern University',), ('University of Michigan--Ann Arbor',), ('Rice University',)}

c:\Users\Harit\anaconda3\Lib\site-packages\relational_algebra\operators\Relation.py:159: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat(

In [4]:
import unittest
import sqlite3
from relational_algebra import *
# These are the tests, do not modify
class TestRelationalAlgebraQueries(unittest.TestCase):
    def setUp(self):
        self.sqlconnection = sqlite3.connect("sample220P.db")
        self.expressions = Expressions()


    def test_sample_query(self):
        result = self.expressions.sample_query.evaluate(sql_con=self.sqlconnection)
        result_intermediate = {('PODS', 'A*'), ('VLDB', 'A*'), ('SIGMOD', 'A*'), ('ICDE', 'A*')}

        try:
            self.assertEqual(result.rows, result_intermediate, "Incorrect Query")
        except:
            raise Exception("Incorrect Query")

    def test_expression1(self):
        result = self.expressions.expression1.evaluate(sql_con=self.sqlconnection)
        result_intermediate = {('Ion Stoica', 'VLDB', 2020, 1), ('Ion Stoica', 'VLDB', 2021, 3), ('Matei Zaharia', 'SIGMOD', 2022, 3), ('Matei Zaharia', 'VLDB', 2022, 2), ('Natacha Crooks', 'VLDB', 2022, 2), ('Ion Stoica', 'VLDB', 2022, 1), ('Joseph M. Hellerstein', 'VLDB', 2022, 1), ('Anthony D. Joseph', 'VLDB', 2021, 1), ('Aditya G. Parameswaran', 'VLDB', 2021, 4), ('Joseph Gonzalez 0001', 'VLDB', 2020, 3), ('Joseph M. Hellerstein', 'SIGMOD', 2020, 1), ('Koushik Sen', 'VLDB', 2020, 1), ('Dawn Song', 'SIGMOD', 2020, 1), ('Joseph Gonzalez 0001', 'VLDB', 2021, 1), ('Dawn Song', 'ICDE', 2021, 1), ('Matei Zaharia', 'VLDB', 2020, 3), ('Joseph M. Hellerstein', 'VLDB', 2020, 3), ('Matei Zaharia', 'VLDB', 2021, 2), ('Aditya G. Parameswaran', 'SIGMOD', 2021, 1), ('Aditya G. Parameswaran', 'VLDB', 2022, 2), ('Aditya G. Parameswaran', 'SIGMOD', 2020, 2), ('Marti A. Hearst', 'VLDB', 2021, 1), ('Jelani Nelson', 'PODS', 2022, 1), ('Joseph M. Hellerstein', 'VLDB', 2021, 1), ('Anthony D. Joseph', 'VLDB', 2020, 1), ('Natacha Crooks', 'VLDB', 2021, 1), ('Aditya G. Parameswaran', 'ICDE', 2021, 1), ('Ion Stoica', 'SIGMOD', 2022, 1), ('Aditya G. Parameswaran', 'VLDB', 2020, 1)}
        try:
            self.assertEqual(result.rows, result_intermediate, "Incorrect Query")
        except:
            raise Exception("Incorrect Query")

    def test_expression2(self):
        result = self.expressions.expression2.evaluate(sql_con=self.sqlconnection)
        result_intermediate = {('VIS',), ('PODS',), ('VR',)}
        try:
            self.assertEqual(result.rows, result_intermediate, "Incorrect Query")
        except:
            raise Exception("Incorrect Query")

    # def test_expression3(self):
    #     result = self.expressions.expression3.evaluate(sql_con=self.sqlconnection)
    #     result_intermediate = {('ICDE', 2022, 'Michael J. Carey 0001', 'University of California, Irvine'), ('SIGMOD', 2022, 'Matei Zaharia', 'University of California, Berkeley'), ('SIGMOD', 2021, 'Sharad Mehrotra', 'University of California, Irvine'), ('VLDB', 2020, 'Joseph M. Hellerstein', 'University of California, Berkeley'), ('VLDB', 2020, 'Sharad Mehrotra', 'University of California, Irvine'), ('SIGMOD', 2020, 'Aditya G. Parameswaran', 'University of California, Berkeley'), ('SIGMOD', 2021, 'Xiao Wang 0012', 'Northwestern University'), ('ICDE', 2022, 'Faisal Nawab', 'University of California, Irvine'), ('VLDB', 2020, 'Joseph Gonzalez 0001', 'University of California, Berkeley'), ('PODS', 2022, 'Jelani Nelson', 'University of California, Berkeley'), ('VLDB', 2022, 'Sharad Mehrotra', 'University of California, Irvine'), ('SIGMOD', 2020, 'Andrew Crotty', 'Northwestern University'), ('VLDB', 2021, 'Aditya G. Parameswaran', 'University of California, Berkeley'), ('ICDE', 2020, 'Andrew Crotty', 'Northwestern University'), ('PODS', 2021, 'Caleb Stanford', 'University of California, Davis'), ('ICDE', 2021, 'Faisal Nawab', 'University of California, Irvine'), ('ICDE', 2020, 'Sharad Mehrotra', 'University of California, Irvine'), ('VLDB', 2020, 'Matei Zaharia', 'University of California, Berkeley'), ('VLDB', 2020, 'Michael J. Carey 0001', 'University of California, Irvine'), ('SIGMOD', 2021, 'Aditya G. Parameswaran', 'University of California, Berkeley'), ('SIGMOD', 2021, 'Jennie Rogers', 'Northwestern University')}
    #     try:
    #         self.assertEqual(result.rows, result_intermediate, "Incorrect Query")
    #     except:
    #         raise Exception("Incorrect Query")

    def test_expression4(self):
        result = self.expressions.expression4.evaluate(sql_con=self.sqlconnection)
        result_intermediate = {('University of California, Berkeley',), ('University of California, Davis',)}
        try:
            self.assertEqual(result.rows, result_intermediate, "Incorrect Query")
        except:
            raise Exception("Incorrect Query")

    def test_expression5(self):
        result = self.expressions.expression5.evaluate(sql_con=self.sqlconnection)
        result_intermediate = {('Harvard University',), ('Carnegie Mellon University',), ('Brown University',), ('University of Chicago',), ('Emory University',), ('University of Florida',), ('University of Notre Dame',), ('Georgetown University',), ('University of Pennsylvania',), ('Stanford University',), ('University of California, Los Angeles',), ('Columbia University',), ('University of Michigan--Ann Arbor',), ('Washington University in St. Louis',), ('University of Virginia',), ('Princeton University',), ('Yale University',), ('California Institute of Technology',), ('Rice University',), ('University of North Carolina at Chapel Hill',), ('University of Texas at Austin',), ('University of California, San Diego',), ('Johns Hopkins University',), ('Duke University',), ('Vanderbilt University',), ('University of Southern California',), ('Cornell University',), ('Dartmouth College',), ('Massachusetts Institute of Technology',)}
        try:
            self.assertEqual(result.rows, result_intermediate, "Incorrect Query")
        except:
            raise Exception("Incorrect Query")

In [5]:
# Step 4: Run the unit tests and display results
suite = unittest.TestLoader().loadTestsFromTestCase(TestRelationalAlgebraQueries)
unittest.TextTestRunner(verbosity=2).run(suite)

test_expression1 (__main__.TestRelationalAlgebraQueries.test_expression1) ... c:\Users\Harit\anaconda3\Lib\site-packages\relational_algebra\operators\Relation.py:159: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat(
ok
test_expression2 (__main__.TestRelationalAlgebraQueries.test_expression2) ... c:\Users\Harit\anaconda3\Lib\site-packages\relational_algebra\operators\Relation.py:159: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat(
ok
test_expression4 (__main__.TestRelationalAlgebraQueries.test_expression4) ... c:\Users\Harit\anaconda3\Lib\site-packages\relational_algebra\operators\Relation.py:159: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pd.concat(
ok
test_expression5 (__main__.TestRelationalAlgebraQueries.test_expression5) ... ERROR
test_sample_query (__main__.TestRelationalAlgebraQueries.test_sample_query) ... ok

======================================================================
ERROR: test_expression5 (__main__.TestRelationalAlgebraQueries.test_expression5)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\Users\Harit\AppData\Local\Temp\ipykernel_60076\469684535.py", line 56, in test_expression5
    self.assertEqual(result.rows, result_intermediate, "Incorrect Query")
AssertionError: Items in the first set but not the second:
('University of California, Davis',)
('Northwestern University',)
('University of California, Berkeley',) : Incorrect Query

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Harit\AppData\Local\Temp\ipykernel_60076\469684535.py", line 58, in test_expression5
    raise Exception("Incorrect Query")
Exception: Incorrect Query

----------------------------------------------------------------------
Ran 5 tests in 0.551s

FAILED (errors=1)

**Please submit the .py file on gradescope**